.feed {
  /* flex: 0.6;
  margin: 0 20px;
  border: 2px solid red; */
  /* display: flex; */
  flex: 0.6;
  margin: 0 20px;
  /* justify-content: space-around; */
  /* width: 100%; */
  /* margin: 0 auto; */
  flex-wrap: wrap;
}
.feed__inputContainer {
  background: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}
.feed__input > form {
  display: flex;
  width: 100%;
}
.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}
.feed__input > form > button {
  display: none;
}
.feed__inputOptions{
  display: flex;
  justify-content: space-evenly;
}
@media screen and (width <= 650px) {
  .feed {
    flex: 1;
    margin: 0;
  }
}
